@{
    ViewData["Title"] = "Day 1";
}

<div class="text-center">
    <form action="Day1Post" method="post">
        <textarea id="items" name="items" height="2000">
        </textarea>
        <button type="submit">submit</button>
    </form>
</div>

